<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{message}}
        <!-- v-bind是绑定属性的  如果isGood为true  则加这个类名-->
        <!-- v-on:click=""   = bindtap     vue里面的js方法都要写在 methods 里 -->
        <p class="cool" v-bind:class="{good:isGood}" v-on:click="reverseMsg">{{msg}}</p>  
        <!-- <p class="cool" v-bind:class="isGood ? 'good' : 'bad'">熊哥哥好帅</p>   -->
        <!-- v-bind: 可以省略v-bind  直接写: -->
        <!-- <p class="cool" :class="[activeClass]">熊哥哥好帅</p> -->
        <!-- <ul>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ul>
        <p>{{content}}</p>
        v-model 为VUE的双向数据绑定
        <input type="text" v-model="content"> -->

    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                message:'hello',
                isGood:true,
                activeClass:'active',
                todos:[
                    {text:'学习vue'},
                    {text:'学习js'},
                    {text:'学习'}
                ],
                content:'',
                msg:'熊哥哥好帅'      
            },
            methods:{
                reverseMsg(){
                    // this作用域为整个VUE  所以不用this.data.msg   直接用this.msg
                    this.msg = this.msg.split('').reverse().join('');   //切割字符串后再倒转再拼接
                }
            }
        })
    </script>
</body>
</html>